body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
    background-color: #ffffff; /* Fondo claro por defecto */
    color: #333; /* Texto oscuro por defecto */
    font-family: Arial, sans-serif; /* Puedes cambiar la fuente si lo prefieres */
  }
  
  /* Si dark-mode está aplicado */
  body.dark-mode {
    background-color: #121212; /* Fondo oscuro para el modo oscuro */
    color: #ffffff; /* Texto blanco para el modo oscuro */
  }
  
  /* Estilos Generales del contenedor */
  .container {
    max-width: 1200px;
    margin: 20px auto; /* Centra el contenedor y añade margen */
    padding: 30px; /* Aumenta el padding */
    background-color: #fff; /* Fondo blanco para tarjetas */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
    color: #333; /* Color de texto por defecto */
  }
  
  /* Modo oscuro - contenedor principal */
  .darkModeContainer {
    background-color: #282828; /* Fondo gris oscuro para el contenedor en modo oscuro */
    color: #eee; /* Color de texto claro para el contenedor en modo oscuro */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05); /* Sombra sutil en modo oscuro */
  }

    /* Título principal de la página */
  .pageTitle {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos de las Cards */
  .card {
    border-radius: 16px; /* Bordes redondeados para tarjetas */
    background-color: #f8f8f8; /* Fondo gris muy claro para tarjetas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
    color: #333; /* Color de texto por defecto */
    padding: 20px; /* Aumenta el padding */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Elevar al hacer hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada al hacer hover */
  }

  /* Estilos del enlace de la card para ocupar todo el espacio */
  .cardLink {
    display: block;
    height: 100%; /* Asegura que el enlace ocupa toda la altura de la card */
    text-decoration: none; /* Opcional: elimina el subrayado predeterminado de los enlaces */
    color: inherit; /* Opcional: hereda el color del texto del padre */
  }
  
  /* Modo oscuro - card */
  .darkModeCard {
    background-color: #333; /* Fondo gris oscuro para tarjetas en modo oscuro */
    color: #eee; /* Color de texto claro para tarjetas en modo oscuro */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra sutil en modo oscuro */
  }
  
  .cardBody {
    text-align: center;
    padding-top: 15px;
  }
  
  .cardTitle {
    font-size: 1.5rem; /* Tamaño de fuente más grande */
    color: #34495e;
    font-weight: 600;
    margin-top: 10px;
    text-transform: capitalize;
  }

  .cardDescription {
    font-size: 1rem;
    color: #777;
    margin-top: 10px;
    line-height: 1.4;
  }
  
  .cardImgTop {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
  }
  
  .cardImgTop:hover {
    transform: scale(1.05);
  }
  
  /* Estilos de la fila y columnas */
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
  }
  
  .col-md-4 {
    max-width: 33.333%;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  
  .col-md-4:hover {
    transform: scale(1.03);
  }
  
  /* Estilos de los enlaces */
  a {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: color 0.2s ease;
  }
  
  a:hover {
    color: #4e69ff;
  }
  
  /* Estilos del texto de la card */
  .card-body p {
    font-size: 1.1rem;
    color: #666;
    text-align: center;
    margin-top: 15px;
    line-height: 1.7;
    font-weight: 400;
  }
  
  /* Modo oscuro - card title */
  .darkModeCardTitle {
    color: #ddd; /* Color claro para el título en modo oscuro */
  }

  /* Modo oscuro - card description */
  .darkModeCardDescription {
    color: #aaa; /* Color claro para la descripción en modo oscuro */
  }
  
  /* Modo oscuro - card body */
  .darkModeCardBody {
    /* Puedes agregar estilos específicos si es necesario */
  }