/* Estilos globales para el tema oscuro */
body.dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;
}

/* Si hay algún fondo en el contenedor, también cambia */
body.dark-mode .container {
  background-color: #282828; /* Fondo oscuro para el contenedor */
}

body.dark-mode .card {
  background-color: #333; /* Fondo oscuro para las cards */
  color: #eee;
}

body.dark-mode .cardTitle {
  color: #ddd; /* Cambia el color del título en modo oscuro */
}
